<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit Characters</title>
</head>
<body>
    <a href="/characters">Browse Characters</a>
    <h1>Edit <%= character.name %> </h1>
    <form action="/characters/<%=character._id%>?_method=PUT" method="POST" class="edit-form">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= character.name %>" />

        <label for="alias">Alias:</label>
        <input type="text" name="alias" id="alias"  value="<%= character.alias %>"/>
    
        <label for="abilities">Abilities:</label>
        <input type="text" name="abilities" id="abilities" value="<%= character.abilities %>"/>

        <label for="whereTheyreFrom">Where they are from:</label>
        <input type="text" name="whereTheyreFrom" id="whereTheyreFrom"  value="<%= character.whereTheyreFrom %>"/>

        <label for="picture">Picture URL:</label>
        <input type="text" name="picture" id="picture" value="<%= character.picture %>"/>
    
        <button type="submit">Edit Character</button>
      </form>
    
</body>
</html>